.about-bg {
    background-position: center;
}

.about-bg blockquote {
    font-size: small;
    color: white;
    top: 50%
}

@media screen and (orientation: landscape) and (max-width: 823px){
    .about-bg {
        background-position: 50% 30%;
    }
    .about-bg blockquote {
        top: 30%
    }
    .about-bg blockquote p, .about-bg blockquote .btn-sm{
        font-size: x-small;
    }
}

@media screen and (orientation: portrait) {
    .about-bg blockquote {
        top: 65%
    }
}