#contactBG{
    height: 100%;
}
.transparent {
    height: 100%;
    background:rgba(255, 255, 255, 0.7);
}

@media screen and (orientation: portrait){
    #contactBG{
        height:calc(100vh - 8.9375em);
    }
}

@media screen and (orientation: portrait) and (min-height:731px) and (max-width: 767px){
    #contactBG {
        height:calc(100vh - 13.6875em);
    }
    .transparent {
        height:calc(100vh - 13.6875em);
    }
}

@media screen and (orientation: landscape) and (min-height: 415px){
    #contactBG{
        height:calc(100vh - 8.9375em);
    }
    .transparent {
        background:rgba(255, 255, 255, 0.0);
    }
}