.main-bg {
    background-position: bottom;
}

.main-bg blockquote {
    background: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: grey;
    padding: 1.5vw;
    width: 35%;
    left: 50%;
    top: 20%
}

/* Landscape Mode */
@media screen and (orientation: landscape) and (max-width: 1023px){
    .main-bg blockquote {
        font-size: x-small;
    }
}

@media screen and (orientation: landscape) and (min-width: 1366px){
    .main-bg blockquote {
        font-size: large;
    }
}


/* Protrait Mode */
@media screen and (orientation: portrait) {
    .main-bg {
        background-position: top;
    }

    .main-bg blockquote {
        width: 40%;
        left: 30%;
    }
}

@media screen and (orientation: portrait) and (max-width: 767px){
    .main-bg {
        height:calc(100vh - 13.6875em);
    }

    .main-bg blockquote {
        font-size: x-small;
        width: 60%;
        left: 20%;
    }

}

@media screen and (orientation: portrait) and (min-width: 1024px){
    .main-bg blockquote {
        font-size: large;
    }
}