.MainPage {
  font-family: 'Open Sans', sans-serif;
}
.MainPage .dosis{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.MainPage .navbar-brand{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  margin: 0px
}

.MainPage .nav-item{
  font-size: small;
  margin-left: 2vw;
}

.MainPage i{
  font-size: xx-large;
}